/* undo defaults */

body { margin: 0; }
h1, h2, h3, h4 { margin: 0; font-weight: normal; }
p { margin: 0; }

table { font-size: 1em; }
h1 { font-size: 1.9em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.15em; }

/* global styles */

body
{
	background: #fafafa;
    font: 0.9em/1.5 "Lucida Grande";
}

h2
{
	margin-bottom: 0.3em;
	font-size: 1.5em;
}

h4
{
	font-weight: bold;
	margin-bottom: 0.5em;
}

span.date
{
    font-weight: bold;
}

a.detail-link
{
	font-size: 0.8em;
}

a.add-link
{
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.1em;
}

a.add-partial
{
	display: block;
	width: 18em;
	text-align: right;
	font-size: 0.9em;
	margin-bottom: 1em;
}

table
{
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

div#content table td, div#content table th
{
	border-bottom: solid #e8e8e8 1px;
	padding: 0.25em;
	font-size: 1.1em;
}

table td
{
	padding: 0.5em 0;
}

table tr.footer-row td
{
	border-top: solid #e8e8e8 3px;
	border-bottom: 0;
	font-weight: bold;
	font-size: 0.9em;
	text-align: right;
}

table th a
{
	color: black;
	text-decoration: none;
}

table th a:hover
{
	text-decoration: underline;
}

a
{
	color: blue;
}

a img
{
	border: 0;
}

p input,
p textarea
{
	display: block;
	margin-bottom: 1em;
	margin-right:  2em;
}

p input.checkbox
{
	display: inline;
	margin-right: 1em;
}

/* banner */

div#banner
{
	background: url(/images/slice.png) repeat-x;
	border-bottom: solid 1px black;
	color: whitesmoke;
    padding: 0.5em 2em;
}

div#banner a
{
	color: cornflowerblue;
}

span#logo
{
    font-size: 2.2em;
}

div#account-info
{
	font-size: 0.9em;
	float: right;
}

div#account-info a
{
	border-left: solid black 1px;
	padding-left: 0.5em;
	margin-left: 0.3em;
}


/* @group admin bar */

div#admin-bar
{
	padding: 0.25em 1em;
	font-size: 0.9em;
	background: rgb(49,50,54);
	border-bottom: solid 1px #222;
}

div#admin-bar a
{
	color: cornflowerblue;
	text-transform: uppercase;
	font-size: 0.8em;
}

/* @end */


/* @group navbar */

div#navbar
{
	background: url(/images/mid-slice.png) repeat-x;
	border-bottom: solid lightgray 1px;
	height: 1.75em;
	padding: 0.25em 2em;
}

ul#nav-links
{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

ul#nav-links li
{
	float: left;
	margin-right: 2em;
}

ul#nav-links a
{
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.25em;
}

ul#nav-links a:hover
{
	text-decoration: underline;
}

div#navbar div#search
{
	float: right;
}

/* @end */



/* column */

div#column
{
    font-size: 0.95em;
    position: absolute;
    left: 0px;
    width: 265px;
    padding: 4em 25px 10px;
}

div#column > div
{
	margin-bottom: 2em;
}

div#column h3
{
	margin-bottom: 0.3em;
}

div#column p
{
	padding: 0 0.7em;
}


/* content */

div#content
{
	background: white;
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	padding: 1em 2em;
	margin-top: 1em;
	margin-right: 1em;
    margin-left: 305px;
}

.content-title
{
	background: #f4f4f4;
	border-bottom: solid 1px #ddd;
	padding: 0.5em 1em 0em;
	margin: -1em -2em;
	margin-bottom: 1em;
}

ul#content-tabs
{
	background: #f4f4f4;
	border-bottom: solid 1px #ddd;
	padding: 0;
	margin: -1em -2em 1em;
	height: 1.8em;
	list-style: none;
}

ul#content-tabs li
{
	display: block;
	padding: 0.25em 1em;
	float: left;
	font-size: 0.9em;
}

ul#content-tabs li:hover
{
	background-color: #ddd;
}

ul#content-tabs li a
{
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

th#last-contact-column
{
	width: 13em;
}

div#name
{
	padding: 1em;
}

div#referred-by
{
	font-size: 0.9em;
	margin: 0em 0 0.8em;
	padding-left: 0.3em;
}

div#contact-tag-list
{
	font-size: 0.9em;
}

div#contact-tag-list a#edit-tags
{
	margin-left: 0.5em;
}

div#prayer-letter
{
	font-size: 0.9em;
	margin-bottom: 1.5em;
}

ul#contact-groups
{
	list-style: none;
	padding: 0;
}

div.contact-field
{
	margin-bottom: 0.5em;
}

div.contact-field input,
div.contact-field select
{
	display: block;
	float: left;
}

div.modal-dialog
{
	background-color: white;
	padding: 1em;
	width: 500px;
	height: 400px;
}

div.modal-dialog a.X
{
	float: right;
}


/* @group tasks */

div#tasks
{
	margin: 0.2em 1.5em 1em;
	width: 30em;
}

div#tasks a#add-task
{
	display: block;
	margin: 1em 0;
}

div#tasks ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

div#tasks ul li
{
	margin-bottom: 0.35em;
	padding: 0.25em;
}

div#tasks input
{
	margin: auto 0.5em;
}

div#tasks span.due
{
	display: block;
	float: right;
	font-size: 0.95em;
	line-height: 1.6em;
}

div#tasks a.detail-link
{
	margin-left: 0.8em;
}

/* @end */


/* @group add interaction */

div#note-form
{
	margin-top: 2.5em;
	margin-bottom: 3em;
	margin-left: 1.75em;
	width: 33em;
}

div#add-note textarea
{
	display: block;
}

div#add-note a
{
	float: left;
	margin: 0.35em 1em;
}

div#note-buttons
{
	float: right;
}

div#note-buttons div#attempt
{
	display: inline;
	font-size: 0.9em;
	margin: 0.2em 1em;
}

div#note-buttons input#add-button
{
	margin-right: 1em;
}

/* @end */



/* @group tags */

div.tag-list
{
	line-height: 1.5em;
}

div#column div.tag
{
	font-size: 0.8em;
}

div.tag
{
	float: left;
	margin: 0.1em 0.3em;
	font-size: 0.75em;
}

div.tag a
{
	border: solid #ccc 1px;
	background-color: white;
	padding: 0.2em 0.5em;
	color: #888;
	text-decoration: none;
}

div.selected-tag a
{
	border: solid cornflowerblue 1px;
	background-color: cornflowerblue;
	color: white;
}

div#add-tag-box
{
	position: absolute;
	top: 350px;
}

/* @end */

/* @group contact information */

span.contact-type
{
    display: block;
    float: left;
    width: 45px;
    text-align: right;
    font-size: 0.9em;
    margin-top: 0.1em;
    color: #444;
}

ul.contact-list
{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 52px;
    margin-bottom: 10px;
}

ul.contact-list li
{
	margin-bottom: 0.25em;
}

ul.contact-list span.contact-loc
{
    color: grey;
}

/* @end */



/* @group pledges */

div#pledges table
{
	margin-left: 0.5em;
}

div#pledges table td
{
	border: 0;
}

div#pledges table td.lifelink
{
	width: 16px;
	padding: 0 2px;
	vertical-align: center;
}

div#pledges table td.date-range
{
	text-align: right;
	padding-left: 0;
	font-weight: bold;
	white-space: nowrap;
	width: 1em;
}

div#pledges table td.edit-link
{
	display: none;
	background-color: #fafafa;
	position: relative;
	left: 1em;
	padding-right: 1em;
}

div#pledges table tr:hover td.edit-link
{
	display: block;
}

/* @end */


/* @group contact history */

ul#contact-history
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 500px;
}

ul#contact-history li#contact-history-title
{
	padding: 0.25em 1em;
	border: 0;
	background: #eee;
	font-weight: bold;
}

ul#contact-history li
{
	font-size: 0.95em;
	padding: 0.75em 0.5em 1.5em;
	border-bottom: solid 1px #ccc;
}

ul#contact-history li.unsuccessful
{
}

ul#contact-history div.header
{
	font-size: 1.1em;
	margin-bottom: 0.3em;
}

/* validation error displays (from scaffold.css)*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* @end */
