
<table>
    <tr> <th>Name</th> <th id='last-contact-column'>Last Contact</th> </tr>

<% @contacts.sort.each do |c| %>
    <tr> <td><%= link_to c.full_name, contact_url(c) %></td> <td><%= c.last_contact %></td> </tr>
<% end %>

</table>

