<% fields_for "contact[phone_number_attributes][]", phone_number, :index => nil do |f| %>
    <div class='phone-number-field'>
        <%= f.text_field :number %>
        <%= f.select :label, PhoneNumber.labels %>
    </div>
    <% unless phone_number.new_record? %>
    <%= f.hidden_field :id %>
    <% end %>
<% end %>
