
<% @contact.tags.each do |tag| %>
    <div class='tag selected-tag'><a href='#'><%= tag.name %></a></div>
<% end %>
    <%= link_to_function "edit tags", "$('edit-tags-dialog').show();", :id => 'edit-tags' %>

